@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'calibri';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/calibri/calibri-bold.ttf')
}
@font-face {
  font-family: 'calibri';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/calibri/calibri-regular.ttf')
}


.font-calibri{
  font-family: 'calibri';
}